@charset "utf-8";
/* CSS Document */

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 11px;
	color: white;
	text-align: center;
	padding-top: 100px;
	background-image: url("http://sclance.com/wallpapers/minimal-space-wallpaper/minimal-space-wallpaper_1174334.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
#placeholder_socialbar {
	padding: 30px;
	word-spacing: 10px;
}