@charset "utf-8";
/* CSS Document */

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	text-align: center;
	padding-top: 75px;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
