@charset "utf-8";
/* CSS Document */

body {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 75px;
	background-image: url("http://sclance.com/wallpapers/minimal-space-wallpaper/minimal-space-wallpaper_1174334.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
